bin/
obj/
*.user
.vs/
.idea/
node_modules/
dist/
coverage/
TestResults/
*.log
.env
.env.local
appsettings.Local.json
esar-azure-deployment.json
deploy/active-directory/*.pem
deploy/active-directory/*.crt
